{% extends "layout.html" %}
{% block body %}
<div class="block1"> </div>
<a href="/">Back</a>
<body style = "background-color: white(170, 13, 170);">
<h1>Welcome {{name}}</h1>
<h2>Here is your fortune for today:</h2>
<p>{{fortune}}</p>
<img src = https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3ffac83c-73fc-4aba-9fcf-db6a6cc805f6/dbob4xx-4080ff6b-9ef2-4345-a706-70d67d022735.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNmZmFjODNjLTczZmMtNGFiYS05ZmNmLWRiNmE2Y2M4MDVmNlwvZGJvYjR4eC00MDgwZmY2Yi05ZWYyLTQzNDUtYTcwNi03MGQ2N2QwMjI3MzUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gh75okG1Yz0SLpBAqp3Mc-z130EBmGEUss6bL9_xwDI>
</body>
</div>
{% endblock %}