
<title>Website</title>

<style>
@import url(https://fonts.googleapis.com/css2?family=Rajdhani);</p>
body {
    background-color: #0d1403;
}
h1{
    font-family: 'Rajdhani', cursive;
    font-weight: bold;
    color: #0d1403;
    font-size: 2.5em;
    text-align: center;
}
h2 {
    font-family: 'Rajdhani', cursive;
    font-weight: normal;
    color: #aa1919;
    font-size: 2.5em;
    text-align: center;
}
p {
    font-family: 'Rajdhani', cursive;
    font-weight: normal;
    color: #801cb9;
    font-size: 2em;
    text-align: center;
}
img {
    margin:auto;
    display: block;
    max-width: 370;
    height: auto;
}
</style>{% block body %}{% endblock %}